body {
    background: #EFEFEF;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #C4C4C4;
}

::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
}